/*媒体查询*/

/*w:768~992:*/
@media screen and (min-width: 768px) and (max-width: 992px){

   /*导航条*/
    .header .nav > li > a{
        height: 100px;
        line-height: 100px;
        padding: 0 10px;
        color:#444444;
    }
}

/*992~1200*/
@media screen and (min-width: 992px) and (max-width: 1200px){

    /*导航条*/
    .navbar-brand{
        padding:  20px 0;
        margin-right: 20px;
    }
    .header .nav > li > a{

        height: 100px;
        line-height: 100px;
        padding: 0 10px;
        color:#444444;
    }

}

/*w>1200*/
@media screen and (min-width: 1200px){

    /*导航条*/
    .navbar-brand{
        padding:  20px 0;
        margin-right: 80px;
    }
    .header .nav > li > a{

        height: 100px;
        line-height: 100px;
        padding: 0 20px;
        color:#444444;
    }
}
/*公共*/
.widths{
    width: 50%;
}
.center{
    text-align: center;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
    margin-bottom: 10px;
}
.form-control{
    display: inline-block;
}
.m_b10{
    margin-bottom: 10px!important;
}
.m_l10{
    margin-left: 10px;
}
.w20{
    width: 20%;
}
.m_rl10{
    margin: 0 10px;
}
.m_l20{
    margin-left: 20px;
}
.red{
    color: #db2628;;
}
.m_l10{
    margin-left: 10px;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.bold{
    font-weight: bold;

}
h2,h1,h3{
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.red_btn{
    padding: 8px 0;
    width: 130px;
    background-color: #db2628;
    text-align: center;
    color: #fff;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.red_btn:hover{
    background-color: #db2628;
    color: #fff;
}
.btns{
    padding: 10px;
    width: 170px;
    background-color: #db2628;
    text-align: center;
    color: #fff;
    display: block;
    position: absolute;
    z-index: 9999;
    top: 59%;
    left: 55%;
    box-sizing: border-box;
}
.btns:hover{
    color: #fff;
}
.a_btn{

    padding: 8px 0;
    width: 130px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 2px;
    color: #838181;
    margin-bottom: 12px;
    margin-left: 5px;
}
.a_btn:hover{
    background-color: #db2628;
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}
.underline:hover{
    text-decoration: underline;
    color: #db2628;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*导航栏*/
.top_navbar img{
    display: none;
}
.header{
    position: fixed;
    z-index: 99999;
    top:0;
    line-height: 100px;
    width: 100%;
    background-color: #f2f2f2!important;
}
.headerbg{
    margin: 0 auto;
    line-height: 100px;
    background-color: #f2f2f2!important;
}
.navbar {
    border: 0;
}
.header .logo{
    color: #db2628!important;
    height: 100px;
}
.navbar-brand > img{
    display: inline;
}
/*.login .login_img{*/
/*    height: 60px;*/
/*    width:60px;*/
/*  */
/*}*/
.header .logo{
    color: #db2628!important;
    height: 100px;
}
.header .logo a{
    color: #db2628!important;
    display: inline-block;
    width: 240px;
}
.logo .logo_text{
    float: right;
}


.navbar-default .navbar-nav > li > a:hover{
    background-color: #db2628;
    color: #fff;
}
.navbar-default .navbar-nav > .actived > a{
    color: #fff;
    background-color: #db2628;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #db2628;
    color: #fff;
}
.navbar-toggle{
    position: relative;
    margin-top: 25px;

}


.nav>li:hover .classify,
.nav>li:hover .classify::before
{
    display: block;
}
.nav{

position: relative;
}
.nav a{
    font-size: 16px;
    font-weight: bold;
}
.classify{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 160px;
    text-align: center;
    background: #fff;
    z-index: 9999;
    display: none;

}
.classify::before{
    content: '';
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid #fff;
    position: absolute;
    display: none;
}
.classify > li {
    display: block;

    line-height: 50px;
    border-bottom: 1px solid #eeeeee;
}

.classify > li a {
    display: block;
    color:#444444;
    font-size: 14px;
    line-height: 50px;

}
.classify > li a:hover{
    background-color: #db2628;
    color: #fff;

}

/*底部*/

.footer{
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    height: 350px;
    position: relative;
    margin-bottom: 30px;

}
.footer ul{
    height: 350px;
}
.footer ul dl{
    height: 100%;
    float: left;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    color: #858282;
    border-right: 1px solid #ccc;
}
.footer  dl dt a{

    color: #db2628;
}
.footer  dl dt {
    cursor: pointer;
    margin-bottom: 30px;
    color: #db2628;
}
.footer dl dd{
    cursor: pointer;
    margin-bottom: 20px;
}
.footer dl dd:hover{
    cursor: pointer;
    color: #db2628;
}
.footer dl dd a{
    color: #858282;
}
.footer dl dd a:hover{
    color: #db2628;
}
.footer .line{
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer ul dl:nth-child(6){
    border-right: 0;
}
.footer_bottom{
   padding: 20px 0;
    text-align: center;
    background-color: #282a2b;
    color: #858282;
    padding-top: 20px;
}
.footer_img img{
    height: 135px;
    width: 134px;
}
.hrets{
    width: 1200px;
    margin: 0 auto;
}
.hrets ul:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.hrets ul li{
    float: left;
    line-height: 30px;
    color: #858282;
    margin: 4px;
}
.hrets li a{
    color: #858282;
}

/*模板*/
/*-公共部分-*/
/*主体容器*/
.banner{
    margin-top: 100px;
    width: 100%;
    height: 422px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 422px;
}
.banner_des{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 1px;
}
.banner_des h4{
    margin: 20px 0;
}
.red_line{
    width: 60px;
    height: 3px;
    background: #db2628;
}
/*定位*/
.address{
    height: 50px;
    width: 100%;
    background-color: #f7f7f7;
}
.addressgroup{

    height: 50px;
    line-height: 50px;
    color: #444444;
    margin: 0 auto;
}
.addressgroup img{
    width: 14px;
    height: 18px;
    margin-top: 16px;
    margin-right: 10px;
    vertical-align:top;
}
.addressgroup a{
    color: #333;
}
/*主体容器*/
.containers{
    padding:0;
    margin: 0 auto;
    display: flex;
    width: 1170px;
}
.containers .left{
    flex: 1;
    overflow: auto;
    margin-top: 40px;
}
.containers .right{
    width: 320px;
   margin-top: 40px;

}

/*右边*/
.right .item{
    padding: 20px;
    padding-top: 0;
    border:1px solid #eeeeee;
    margin-bottom: 20px;
}
.right_title{
    font-size: 18px;
    color: #222222;
    height:60px;
    line-height: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}
.right_title span{
    font-size: 0.2rem;
    margin-left:.1rem ;
}
/* .right_title::after{
    content: "";
    height: 1px;
    width: 95%;
    background-color: #eeeeee;
    position: relative;
    display: block;
    left: 50%;
    transform:translateX(-50%) ;
} */
/*adout */
.about{
    color: #666666;
}
.about img{
    margin-bottom: 10px;
}

/*articles文章页面*/
.right .articles{
    padding-bottom: 0;
}
.article_detail{
    font-size: 13px;
    color: #777777;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee;
}
.article_detail .detail_title{
    color: #444444;
    font-size: 15px;
    margin-bottom: 12px;
}
/* .article_detail::after{
    content: "";
    height: 1px;
    width: 95%;
    background-color: #eeeeee;
    position: absolute;
    display: block;
    left: 50%;
    top: 0%;
    transform:translateX(-50%) ;
} */
.article_context{
    margin-bottom: 12px;
}
.detail_title{
    margin-top: -10px;
    margin-bottom: 20px;
}

.articles .article_detail:hover{
    color: #db2628;
}
.detail_title:hover{
    color: #db2628;
}
.line-limit-length {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.liness-limit-length{
    max-width: 95%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}