/*action*/
.action_group{
    width: 95%;
}
.none{
    background: #eeeeee;
    pointer-events:none;
    color: #999999;
}
.containers .left{
    margin-top: 0px;
}
.action_group .item{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom:1px solid #eeeeee;
}
.action_group .item .media-object{

    width: 230px;
    height: 155px;
    margin-right: 24px;
}
.action_group .item .media-heading{
    color: #333333;
    font-size: 22px;
    margin-bottom: 30px;
}
.action_group .media-body{
    color: #888888;
    line-height: 24px;
    box-sizing: border-box;
}

.media-body :hover{

    color: #db2628!important;
}
.media-heading:hover{
    color: #db2628;
}

.time{
    margin-top: 28px;
    color: #999999;
}
.time img{
    margin-right: 10px;
}

/*connection*/
.connection{
    width: 95%;
    margin-top: 40px;
}

.connection .connection_title h1{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color:#db2628;
}
.connection .connection_title div{
    font-size: 11px;
    color: #999999;

}
.conn_address{
    margin-top:40px ;

    padding-bottom: 40px;
    border-bottom: 1px dotted #cbcbcb;
}
.conn_address:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.conn_detail{
    float: left;
    line-height: 30px;
    color: #222222;
    font-size: 16px;
}
.conn_wx{
    float: right;
    color: #666666;
}
.conn_wx img{
    width: 112px;
    height: 111px;
    float: right;
    margin-bottom: 5px;
}
.conn_wx div{
    text-align: center;
    width: 100%;
}
.img_address img{
    margin: 0 auto;
    margin-top: 60px;
    width: 800px;
    height: 380px;
}
/*immigation*/
.immigation{
    width: 95%;
    margin-top: 40px;
}
.immigation .des{
    padding-left: 15px;
    color: #444444;
    font-size: 15px;
    background-color: #f7f7f7;
    width: 100%;
    border-left: 3px solid #db2628;
    margin-bottom: 30px;
    padding: 32px 16px ;
    color: #444444;
    line-height: 30px;
    font-size: 15px;
}
.des_title{
    color: #222222;
    font-size: 26px;
    margin-bottom: 26px;
}
.des p{ text-indent:2em;}

.immigation .item .item_title{
    color: #222222;

    margin-top: -90px;
    padding-top: 100px;/*让导航栏不覆盖*/
    border-bottom: 1px solid #cbcbcb;

}
.immigation .item_title h2{
    display: inline-block;
    padding: 16px 0;
    font-size: 20px!important;
    font-weight: bold;
    border-bottom: 3px solid #db2628;
}
.immigation .item_content{
    margin-top: 30px;
    font-size: 15px;
    line-height: 30px;
}
/*article*/
.ql-align-center{
    text-align: center;
}
.article{
    width: 95%;
}
.article_title {
    padding-top: 39px;
    padding-bottom: 29px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 29px;
}
.article_title>h1{
    margin-bottom: 5px;
    color: #222222;
    font-size: 28px;
}
.article_title .article_time{
    color: #999999;
    font-size: 14px;
}
.article_title .article_time img{
    margin-right: 10px;
    width: 13px;
    height: 13px;
    vertical-align:middle;
    position: relative;
    top:-5%;
}
.article_body_context{
    line-height: 31px;
    color: #666666;
    font-family: "MicrosoftYaHei";
    font-size: 15px;
    margin-bottom: 56px;
}
.article_body_context h3{
    font-size: 24px;
}
.article_directory {
    font-size: 14px;
    color: #555555;
    line-height: 33px;
}
.article_body_context img{
    width: 518px;

}
.article_directory a{
    font-size: 14px;
    color: #555555;
    line-height: 33px;
}
.pagingArea{
    display: flex;
    margin-left: 38%;
    margin-top: 40px;

}
.pagingArea li a{
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    color: #777777;
    padding:10px ;
    text-align: center;
    border: solid 1px #dedede;
}
.pagingArea li a:hover{
    background-color: #db2628;
    color: #ffffff!important;
}
.current{
    background-color: #db2628;
    color: #ffffff!important;
}
.key{
    font-size: 12px;
}
/*detail*/
.comment{
    margin-top: 20px;
    width: 95%;
}
.comment .comment_title{
    font-size: 24px;
    font-weight: bold;
}
.comment_body{
    margin-top: 10px;
}
.comment_item{
    display: flex;
    line-height: 31px;
    color: #666666;
    font-family: "MicrosoftYaHei";
    font-size: 15px;
    margin: 10px 0;
}
.comment_item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment_names{
    font-size: 16px;
    padding: 5px 0;
}
.comment_data{
    margin-left: 10px;
    font-size: 14px;
    color: #999999;
}
