/*公共*/
ul,li{ padding:0;margin:0;list-style:none}
a{
    text-decoration: none;
    color: #222222;
}
.block{
    display: block;
}
.center{
    text-align: center;
}
.widths{
    width: 100%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
    margin-bottom: .1rem;
}
.w100{
    width: 100%;
}

.form-control{
    display: inline-block;
}
.m_b10{
    margin-bottom: .1rem!important;
}
.m_l10{
    margin-left: .1rem;
}
.w20{
    width: 20%;
}
.m_rl10{
    margin: 0 .1rem;
}
.m_l20{
    margin-left: .2rem;
}
.red{
    color: #db2628;;
}
.m_l10{
    margin-left: 0;
}
.bold{
    font-weight: bold;

}
.red_btn{
    padding: .08rem 0;
    width: 1.3rem;
    background-color: #db2628;
    text-align: center;
    color: #fff;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.red_btn:hover{
    background-color: #db2628;
    color: #fff;
}
.a_btn{
    font-size: 0.24rem;
    padding:.2rem;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 2px;
    width: 2.1rem;
    color: #666666;
    margin-bottom: .2rem;
    margin-left: .1rem;
}
.a_btn:hover{
    background-color: #db2628;
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}
.underline:hover{
    text-decoration: underline;
    color: #db2628;
}
.line-limit-length {
    max-width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    }
.lines-limit-length{
     max-width: 65%;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
     overflow: hidden;
 }
.liness-limit-length{
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.btns{
    padding:.1rem;
    width: 3.17rem;
    background-color: #db2628;
    text-align: center;
    color: #fff;
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2.5rem;
    left: 55%;
    box-sizing: border-box;
}
.btns:hover{
    color: #fff;
}
/*导航栏*/

.top_navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: scroll;
    right: -7.5rem;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    transition: 1s;
    z-index: 999;

}
.top_navbar img{
     float: right;
     transform: translateY(50%);
     margin-right: .15rem;
}
.top_navbar>ul{
    width: 60%;
    margin: 0;
    height: 100%;
    float: right;
    background: #fff;
    color: #444444;
}
.top_navbar>ul>li{
    padding: .1rem 0;
    font-size: 0.26rem;
    border-bottom: 1px solid #eeeeee;
}

.classify{
    display: none;
    padding: 0 .3rem;
}
.classifys{
    display: none;
    padding: 0 .3rem;
}
.classifys li{
    line-height: .5rem;
}
.classify li{
    line-height: .5rem;
}
.classifys li a{
    font-size: 0.24rem;
    color: #666666;
}

.classify li a{
    font-size: 0.24rem;
    color: #666666;
}
.nav > li > a {
   display: inline;
    padding: .25rem .3rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #f2f2f2!important;
    margin-bottom: 1rem;
}
.headerbg{
    margin: 0 auto;
    line-height: 1rem;
    background-color: #f2f2f2!important;
}
.headerbg .container{
    line-height: 1rem;
}
.navbar {
    border: 0;
}
.header .logo{
    color: #db2628!important;
    height: 1rem;
    font-size: .24rem;
}
.header .logo a{
    color: #db2628!important;
    display: inline-block;
    width: 2.7rem;
}
.navbar-brand{
    float: left;
    height: .5rem;
    padding: .15rem .15rem;
    font-size: .24rem;
    line-height: .2rem;
}
.navbar-brand > img{
    display: inline;
}
 .login_img{
    height: 0.8rem;

}
.logo .logo_text{
    color: #db2628!important;
    float: right;
}
h2,h1,h3{
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.ql-align-center{
    text-align: center;
}

.logo_text span:nth-child(1){
    display: block;
    font-weight: 900;
    font-size: 0.36rem!important;
    margin-top: 0.1rem;
    margin-bottom: 0.13rem;
}
.logo_text span:nth-child(2){
   font-weight: 600;
    font-size: .24rem!important;
}

.right_nav {
    float: right;
   margin-top: -.65rem;
    width: 0.44rem;
	height: 0.32rem;
}




/*模板*/
/*-公共部分-*/
/*主体容器*/

.banner{
    margin-top: 50px;
    width: 7.5rem;
    height: 4.24rem;
    position: relative;
    overflow: hidden;
}
.banner img{

    width: 19.2rem;
    height: 4.24rem;
    position: absolute;
    top: 0rem;
    left:-5.85rem;
}
.banner_des{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: .01rem;
    left: 8%;
    font-size: 0.4rem;
    letter-spacing: 0.02rem;
}
.banner_des h4{
    margin: .2rem 0;
    font-size: 0.2rem;
}
.red_line{
    width: .6rem;
    height: .03rem;
    background: #db2628;
}
/*定位*/
.address{
    width: 100%;
    padding: 0 .24rem;
    height: 0.8rem;
    background-color: #db2628;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.address h1,.address span{
    font-size: 0.3rem;
}

.address img{
    width: 0.31rem;
	height: 0.29rem;
}
.menu_list{
    width: 100%;
    text-align: center;
    display: none;
    color: #444444;
    font-size: 0.3rem;

}
.menu_list li{
    background-color: #f9f9f9;
    line-height: .8rem;
    border-bottom: 1px solid #e8e8e8;
}
/*主体容器*/
.containers{
    width: 100%;

}
.containers .left{
    margin: 0 .24rem;
    margin-top: .49rem;
}

.items{

    border:1px solid #eeeeee;
    padding-top: 0;
    margin-bottom: .3rem;
    margin-top: .3rem;
}
.right_title{
    font-size: 0.32rem;
    color: #222222;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-bottom: 20px;
    margin-left: .2rem;
    border-bottom: 1px solid #eeeeee;
}
.right_title span{
    font-size: 0.24rem;
    margin-left:10px ;
}
.phone_footer .item{
    padding: 0 ;
}
.footer_img img{
    height: 135px;
    width: 134px;
}

/**尾部*/
.phone_footer{
    margin: 0 .24rem;
}
.list_footer{

    width: 100%;
    margin: 0 auto;
}
.list_footer-item{
    border: 0;
    font-size: 0.3rem;

    line-height: 0.8rem;
    color: #db2628;
    border-bottom: 1px solid #ebebeb;
}
.list_footer-item>a{
    color: #db2628;
}
.list_footer-item img{
    float: right;
   margin-top: 2%;
}
.conn_us{
    border-bottom: 1px solid #eeeeee;
    margin-bottom: .75rem;
}
.conn_us dt{
    font-size: 0.3rem;
    color: #222222;
    height: 1.08rem;
    line-height: 1.08rem;
}
.conn_us dd{
	font-size: 0.24rem;
	line-height: 0.49rem;
	color: #858282;
}
.phone_wx{
    width: 80%;
    margin: 0 auto;
}
.phone_wx .wx{

    text-align: center;

}
.phone_wx .wx img{
    width: 1.5rem;
    height: 1.5rem;
}
.phone_wx .wx div{
    margin-top: .1rem;
    color: #858282;
    font-size: 0.24rem;
    margin-bottom: .15rem;
}
.phone_wx::after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.footer_bottom{
    padding: 0.5rem 0;
    text-align: center;
    background-color: #282a2b;
    color: #858282;
    padding-top: .40rem;
}

.hrets{
    width: 96%;
    margin: 0 auto;
}
.hrets ul:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.hrets ul li{
    float: left;
    line-height: .3rem;
    color: #858282;
    margin: .06rem;
}
.hrets li a{
    color: #858282;
}
