
/*表单*/
.titles{
    margin-top: .2rem;
}
.titles h1{
    font-size: .28rem;

    letter-spacing: .02rem;
    margin-bottom: .1rem;
}
.detail_titles{
    margin-top: -.1rem;
    margin-bottom: .2rem;
    font-size: .28rem;
}
.left_form{
    width: 100%;
    background-color: #f7f7f7;
}
.left_form table{
    border: .01rem  solid #e7e7e7;
}
table{
    width: 100%;
}
table tr,td{
    border: .01rem solid #e7e7e7;
}
.left_form td{
    padding:.1rem .15rem;
    vertical-align: middle!important;

    color: #444444;
    font-size: 0.22rem;
    line-height: .3rem;
}
.left_form .item_label{
    font-size: 0.22rem;
    color: #444444;
    font-weight: bold;
    width: 16%;

    text-align: center;
    padding-left: .3rem;
}

.left_form .item_label_x{
    font-size: 0.22rem;
    color: #444444;
    font-weight: bold;
}
.left_form  .item_part{
    background-color: #2375b5;
    color: #fff;
    width: 80%;
    padding: .48rem 0;
    padding-left: .15rem;

}
.display_marry{
    display: none;
}
/*简介*/
.detail{
    color: #444444;
    line-height: 0.4rem;
}

.detail div{
    font-size: 0.26rem;
    color: #444444;
    margin-bottom: .5rem;
}
.detail  p{
    font-size: 0.24rem;
    color: #444444;
}
.left_des{

    color: #444444;
    font-size: 0.26rem;
    height: 1.2rem;
    line-height: .35rem;
    padding: .28rem .2rem;
    background-color: #f7f7f7;
    width: 100%;
    border-left: .06rem solid #db2628;

    margin-top: .4rem;
}

input[type="radio"]{
    margin-right: .1rem;
}
input[type="radio"]::before {

    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    margin-right: 1em;
    top: -0.01rem;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

input[type="radio"]:checked::before {
    box-shadow: inset 0 0 0 .04rem #f4f4f4;
    border-color: #db2628;
    background: #db2628;
}
