.hidden_phone{
    display: none!important;
}
/*导航条*/
.banner{
    width: 100%;
    height: 4.22rem;
    position: relative;
}
.carousel-example-generic{
    height: 4.22rem!important;
}
.x{
    height: 4.22rem!important;
}
/* .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 4.22rem;
}*/
.banner img{
    width: 100%;
    height: 4.22rem!important;
    left: 0!important;
}
 .carousel .slide{
    width: 100%;
    height: 4.22rem;
 }
/*四大优势图标*/
.advantage::before{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.list_item{
    width: 50%;
    float: left;
}
.advantage{
    width: 100%;
    background-color: #f2f2f2!important;
}
.adss_item{
    padding: .86rem .68rem;
    border: 1px solid #eeeeee;
    text-align: center;
}
.ads_img{
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.2rem;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

.advantagebg img{
    text-align: center;
    width: .5rem;
    height: .5rem;
}
.ad_img_d img{
    width: 0.73rem;
	height: 0.54rem;
}
.advantagebg .text{
   display: inline;
}


.advantagebg .row .text div:nth-child(1){
    font-size: .32rem;
    color: #4f4f4f;
}
.advantagebg .row .text div:nth-child(2){
    font-size: .24rem;
    color: #bebdbd;
}


/*新闻中心*/
.list_item_100{
    width: 100%;
}
.news{
    width: 100%;
    border-bottom: .2rem solid #f7f7f7;
}
.title{
    padding-top: .40rem;
}
.title h2{
    width: 100%;
    font-size: .40rem;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: .18rem;
}
.title div:nth-child(2){
    font-size: .2rem;
    color: #a49f9f;
    text-align: center;
    margin-bottom: .24rem;
}
.news_group{
    margin: 0 .24rem;
}
.news_group:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.news_group .news_item{
    width: 100%;

}
.news_item_title{
    height: 1.08rem;
    line-height:1.08rem;
    font-size: 0.34rem;
    color: #000000;

}
.news_mores{
    color: #aaaaaa;
    line-height:1.08rem;
    float: right;
    font-size: 0.22rem;
}

.newsList .news_list_title{
    font-size: 0.28rem;
    color: #666666;
    height: 0.9rem;
    line-height: .9rem;
}
.newsList .news_list_title span{
    text-align: center;
    display: inline-block;
    width: 49%;
    height: 0.9rem;
    line-height: .9rem;
    background-color: #f7f7f7;

}
.newsList .news_list_title .active{
    color: #fff;
    background-color: #db2628;
}
.news_list li{
   line-height: .83rem;
   height: .83rem;
   color: #444444;
   border-bottom:.01rem dotted  #e3e3e3;
   font-size: 0.28rem;
}

.news_list .star::before{
    content:"";
    display: inline-block;
    background-image: url("../img/news1.png");
    height:15px;
    width:15px;
    margin-right: 10px;

}
.news_list .icons{
    height:.15rem;
    width:.15rem;
    margin-right: .1rem;
}
.news_list>a{
    display: block;
    width: 100%;
    height: 3.53rem;
     margin: auto 0;
     margin-bottom: .15rem;
     position: relative;
}
.news_list>a img{
    width: 99%;
    height: 3.35rem;
     margin: auto 0;
     margin-top: .34rem;

}
.news_list>a::before{
    content: "";
    display: block;
    width: 40%;
    height: 50%;
    background-image: url(../../img/player.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
/*6大服务优势*/
.service{
    width: 100%;

}
.service_group{
    margin: 0 .24rem;
    border-bottom: .7rem solid #fff;
}

.service_group .service_item:nth-child(1),
.service_group .service_item:nth-child(4),
.service_group .service_item:nth-child(5)
{
    background-color: #eeeeee;

}

.service_group .service_item img{
    width: .55rem;
    height: .50rem;
    margin-top: .38rem;

}
.service_item{
    text-align: center;
    width: 50%;
    height: 2.8rem;
    float: left;
}
.service_item .service_title{
    font-size: 0.26rem;
    color: #333333;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
}
.service_title::after{
    content: "";
    height: .18rem;
    width: 0.26rem;
    height: 0.03rem;
    border-radius: 0.015rem;
    background-color: #db2628;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.service_item .service_text{
    color: #86888a;
    font-size: 0.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: .19rem;
}




/*服务团队*/
html, body {
    width: 100%;
    height: 100%;
  }
.swiper_top{
    position: relative;
    top:-2.5rem;
}
  .swiper-container {
    width: 100%;
    height: 14rem;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper1{
    height: 9.5rem!important;
  }
.swiper1 .swiper-slide {

    height: 4.2rem;
}
 .swiper-slide {

    height: 5.5rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.team{
    width: 100%;
    height: 14rem;
    background-color: #f7f7f7;
}
.team .teambg{
    margin: 0 .24rem;
    height: 14rem;
}

.team .teambg .row{
    width: 100%;
    height: 10rem;
    margin-top: .15rem;
    margin-left: 0;
    padding-top: .13rem;

}
.team  .thumbnail{
    height:5rem;

    margin-top: 1.8rem;
    width: 90%;
    margin-bottom: 1.5rem;

}
.team  .thumbnail>img{
    width: 1.68rem;
	height: 1.68rem;
    border-radius: 50%;
    border: .05rem solid #fff;
    position: relative;
    top:-12%;
}
.team  .thumbnail .caption
{   margin-top: -.7rem;

}

.team   .caption .name{
    height: 1rem;
    text-align: center;
    font-size: 0.26rem;
    margin-bottom: .20rem;
}
.team  .caption {
    color: #444444;
    font-size: 0.22rem;
}
.team  .caption  label{
    margin-bottom: 0;
}
.caption_detail{
    width: 80%;
    margin: 0 auto;
    margin-bottom: .2rem;
    height: 1.5rem;
}
.detail_btn{
    padding: .08rem .35rem;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #f5120d;
}
.teams_img{
    display: none;
    position: relative;
    z-index: 9999;
    width: 2rem;
}
.thumbnail a > img{
    display: inline;
    margin-left: .1rem;
}
.detail_btn:hover{
    background-color: #db2628;
    color: #fff;
}
a:hover{
    text-decoration: none;
}

/*案例展示*/
.case{
    width: 100%;
}
.case_body{
    width: 100%;
}
.case .case_group{
    margin: 0 .24rem;

}
.case_group .case_item{
    width: 96%;
    height: 4rem;
}
.case_group .case_item img{
    width: 100%;
    height: 100%;
}
.case_group .case_item .text{
    position: relative;
    bottom: .7rem;
    width: 100%;
    font-size: 0.26rem;
    font-weight: bold;
    height: .7rem;
    line-height: .7rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
}
/*.swiperpa{*/
/*    width: 100%;*/
/*}*/
/*.swiperpa span{*/
/*    margin: 0 .03rem;*/
/*}*/

/*生活频道*/
.life{
    width: 100%;
}

.life .life_group{
    margin: 0 .24rem;

}
.life_group .row>div{
    box-shadow: 0rem 0rem 0.08rem 0rem
    rgba(0, 0, 0, 0.18);
    padding-top:.3rem;

    border-radius: 0.1rem;

}
.life_left{
    width: 96%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: .4rem;
    padding-bottom: .7rem;

}
 .ltitle{
    font-size: 0.32rem;
    height: .6rem ;
    line-height: .6rem;
    margin-bottom: .3rem;
}
.ltitle::after{
    content: "";
    width: 0.5rem;
	height: 0.02rem;
	background-color: #aaaaaa;
    position: relative;
    display: block;
    left: 50%;
    transform:translateX(-50%) ;
}

.life_left .left_name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
}
.left_talk{
    padding-top: 13px;
    width: 90%;
    margin: 0 auto;
    line-height: 0.39rem;
	color: #666666;
    font-size: 0.22rem;
    padding-bottom: .5rem;
}
.br::after{
    content: "";
    width: 1.2rem;
	height: 0.03rem;
    background-color: #979797;
    position: relative;
    display: block;
    left: 50%;
    top:20%;
    transform:translateX(-50%) ;
}
.left_img{
    margin-top: .2rem;

}
.left_img>img{
    width: 1rem;
	height: 1rem;
    margin-bottom: .1rem;
}
.left_img>span{
    font-size: 0.26rem;
    color: #444444;
    display: block;
    margin-bottom: .4rem;
}
.life_right{
    width: 96%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: .7rem;
    margin-bottom: .4rem;
}
.right_video{
    /* padding:35px 115px; */
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.right_video img{
    height: 35px;
    width: 50px;
}
body > div.life > div.life_group > div > div.life_right.col-md-6 > img{
    width: 100%;
}
.right_video div{
    font-size: 40px;
}
.right_video>span{
    font-size: 14px;
    color: #747474;
}
.video_b li{
    float: left;
    width: 1rem;
    height: .3rem;
    margin-left: .48rem;
    margin-bottom: .10rem;
}
.video_b li img{
   height: 100%;
   width: 100%;
}
.video_b_c{
    overflow:hidden;
    width: 6.8rem;
    height: .3rem;
}
.video_b {

    overflow-x: scroll;
}