/*immigation_to_canada ã€visa_to_canada*/
.immigation{
    width: 100%;

}

.immigation .des{
    padding-left: .15rem;
    color: #444444;
    font-size: 0.24rem;
    background-color: #f7f7f7;
    width: 100%;
    border-left: .03rem solid #db2628;
    margin-bottom: .3rem;
    padding: .32rem .16rem ;
    color: #444444;
    line-height: 0.38rem;
}
.des_title{
    color: #222222;
    font-size: 0.32rem;
    margin-bottom: .26rem;
}
.des p{ text-indent:2em;}

.immigation .item .item_title{
    color: #222222;

    margin-top: -.9rem;
    padding-top: 1rem;
    border-bottom: .02rem solid #cbcbcb;
    font-weight: bold;
}
.immigation .item_title h2{
    display: inline-block;
    font-size: 0.32rem!important;
    padding: .16rem 0;
    border-bottom: .05rem solid #db2628;
}
.immigation .item_content{
    margin-top: .3rem;
    font-size: 0.26rem;
    line-height: 0.44rem;
}
.immigation .item{
    border: 0;
}

/*contact_us*/
.connection{
    width: 100%;
}
.connection .connection_title h1{
    font-size: .28rem;
    font-weight: bold;
    letter-spacing: .02rem;
    color:#db2628;
}

.connection .connection_title div{
    font-size: 0.14rem;
    color: #999999;
    text-align:left;

}
.conn_address{
    margin-top:.4rem;
    padding-bottom: .4rem;
    border-bottom: 1px dotted #cbcbcb;
}
.conn_address:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.conn_detail{
    float: left;
    line-height: 0.4rem;
    color: #222222;
    font-size: 0.24rem;
}
.conn_wx{
    float: right;
    color: #666666;
}
.conn_wx img{
    width: 1.8rem;
	height: 1.8rem;
    float: right;
    margin-bottom: .1rem;
}
.conn_wx div{
    text-align: center;
    width: 100%;
}
.img_address img{
    margin-top: .6rem;
    width: 100%;
	height: 3.8rem;
}


/*article_detail*/
.article{
    width: 100%;
}
.article_title {
    padding-bottom: .29rem;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: .29rem;
    line-height: 0.52rem;
    color: #222222;
    font-size: 0.34rem;
}
.article_title>h1{
    line-height: 0.52rem;
    color: #222222;
    font-size: 0.34rem;
}
.article_title .article_time{
    color: #999999;
    font-size: 0.24rem;
}
.article_body_context h3{
    font-size: 0.28rem;
}
.article_body_context{
    font-size: 0.26rem;
    color: #666666;
    font-family: "MicrosoftYaHei";
    margin-bottom: .3rem;
    line-height: 0.48rem;
}
.article_directory {
    font-size: 0.26rem;
    color: #555555;
    line-height: .5rem;
}
.article_directory a{
    color: #555555;
}
.article_body_context img{
    width: 7rem;

}

/*action*/
.action_group{
    width: 100%;
}

.action_group .item{
    margin-top: .4rem;
    padding-bottom: .4rem;
    border: 0;
    border-bottom:1px solid #eeeeee;
}
.action_group .item .media-object{
    width: 2.2rem;
    height: 1rem;

}
.none{
    background: #eeeeee;
    pointer-events:none;
    color: #999999;
}
.action_group .item .media-heading{
    color: #333333;
    font-size: 0.26rem;
    margin-bottom: .1rem;
}
.action_group .media-body{
    color: #888888;
    font-size: 0.24rem;
    box-sizing: border-box;
    line-height: 0.3rem;
}
.time{
    margin-top: .28rem;
    color: #999999;
    font-size: 0.22rem;
}
.pagingArea{
    display: flex;
    margin-left: 36%;
    margin-top: .4rem;

}
.pagingArea li a{
    display: inline-block;
    margin: 0 0.1rem;
    font-size: .24rem;
    color: #777777;
    padding:.1rem ;
    text-align: center;
    border: 1px solid #dedede;
}
.pagingArea li a:hover{
    background-color: #db2628;
    color: #ffffff!important;
}
/*detail*/
.comment{
    margin-top: .2rem;
    width: 95%;
}
.comment .comment_title{
    font-size: .28rem;
    font-weight: bold;
}
.comment_body{
    margin-top: .1rem;
}
.comment_item{
    display: flex;
    font-size: 0.26rem;
    color: #666666;
    font-family: "MicrosoftYaHei";
    margin: .1rem 0;
    line-height: 0.48rem;
}
.comment_item img{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin-right: 10px;
}
.comment_names{
    font-size: .24rem;
    padding: .05rem 0;
}
.comment_data{
    margin-left: .1rem;
    font-size: .22rem;
    color: #999999;
}
comment_des{
    font-size: 0.26rem;
    color: #666666;
    font-family: "MicrosoftYaHei";
    margin-bottom: .56rem;
    line-height: 0.48rem;
}
/*contact*/
.words_title{
    font-size: .28rem;
    font-weight: bold;
    letter-spacing: .02rem;
    color:#db2628;
    text-align: center;
    margin-bottom: .2rem;
}
.words{
    margin-top: .3rem;
}
.textarea{
    height: 2rem!important;
}
.btnss{
    padding: .08rem 0;
    width: 2rem;
    background-color: #db2628;
    text-align: center;
    color: #fff;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.inblock{
    display: inline-block;
    width: 5.7rem
;
}
.code{
    width: 4rem;
}
.words .control-label{
    width: 20%;
}
.words .form-group{
    width: 100%;
}
